<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Libre Graphics Research Unit</title>
    <link rel="stylesheet" href="/static/css/baseline.all.css" type="text/css" />
</head>
<body>
    <nav id="side">
        <header>
        <h1><a href="/">Libre Graphics Research Unit Reader</a></h1>
        </header>
        <ul>
            <li><a href="/publications/">Publications</a></li>
            <li><a href="/reviews/">Reviews</a></li>
            <li><a href="/compilations/">Compilations</a></li>
        </ul>
    </nav>
    <article id="main">
    {{{ content }}}
    </article>
</body>
</html>
